.idea/
venv/
test.ipynb
opencv/road_segmentation_best_model.pth
openmp/reduction/Арыков_СБ и соатр ПП над общей памятью OpenMP 2019.pdf
openmp/reduction/Задание1 09_215(3) БикбулатовТХ.docx
openmp/reduction/Карты.desktop
openmp/reduction/Отчёт 09_215(3) ЦарьковМВ.pdf
openmp/reduction/Отчет Носкова ЕА 215-03.pdf
openmp/reduction/Отчет_НизамутдиновИА_09-215(3).pdf
openmp/reduction/Старченко_АВ Берцун_ВН Методы ПВ 2013.pdf
openmp/reduction/циклическая редукция для 3_х диаг СЛАУ V0.pdf
openmp/reduction/DRZ_KMM_NumMethAlg.pdf
openmp/reduction/LW_DifferentialEquation_doc.pdf
openmp/reduction/LW_SweepAndReduction_ppt.pdf
openmp/reduction/main copy.cpp
openmp/reduction/main_prev_task.cpp
openmp/reduction/main.timur.cpp
openmp/reduction/oold.cpp
time-series/doklad/ts_monte_carlo.pptx
opengl/heart_imitation/buildings.jpg
opengl/heart_imitation/cardiac_conduction_system.gitf.zip
opengl/heart_imitation/cardiac_conduction_system.glb
opengl/heart_imitation/Cardiac_conduction_system.usdz.zip
opengl/heart_imitation/cardiac-conduction-system.fbx.zip
opengl/heart_imitation/cat.png
opengl/heart_imitation/Heart.fbx
opengl/heart_imitation/him.ipynb
opengl/heart_imitation/pil22.ipynb
opengl/heart_imitation/Cardiac_conduction_system.usdz/scene.usdc
opengl/heart_imitation/cardiac-conduction-system.fbx/source/hart met geleiding versie 2.fbx
opengl/heart_imitation/cardiac_conduction_system.gitf/license.txt
opengl/heart_imitation/cardiac_conduction_system.gitf/scene.bin
opengl/heart_imitation/cardiac_conduction_system.gitf/scene.gltf
opengl/heart_imitation/materials-python-pillow/buildings.jpg
opengl/heart_imitation/materials-python-pillow/cat.jpg
opengl/heart_imitation/materials-python-pillow/dot_and_hole.jpg
opengl/heart_imitation/materials-python-pillow/house_left.jpg
opengl/heart_imitation/materials-python-pillow/house_right.jpg
opengl/heart_imitation/materials-python-pillow/monastery.jpg
opengl/heart_imitation/materials-python-pillow/README.md
opengl/heart_imitation/materials-python-pillow/strawberry.jpg
opengl/kaggle.json
opencv/pil_and_opencv/second.ipynb
opencv/pil_and_opencv/task2_to_show.ipynb
time-series/hw/rand_task/rand copy.ipynb
opencv/12Копия_блокнота__simpsons_baseline_ipynb_.ipynb
lstm_python/.ipynb
